:root {
  --bg-main: #242424;            
  --border-button: 1px solid rgb(56, 51, 51);
  --border-button-hover: rgb(83, 73, 73);
  --bg-button-hover: #2e2d2d;
  --radius-button: 9px;
  --overlay-color: rgb(199, 190, 190);
}

body, html, #root {
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-main);
}