.r-form {
    display: flex;
    flex-direction: column;
}

.r-title {
    text-align: center;
    color: rgb(207, 207, 216);
}

.r-input-block {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.r-input-block input {
    border-radius: 10px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: medium;
    outline: none;
}

.r-input-block input:focus {
    border-color: #6aa8ff;
    box-shadow: 0 0 0 3px rgba(106, 168, 255, 0.15);
}

.r-input-block label {
    position: absolute;
    top: 15px;
    left: 20px;
    color: rgb(134, 126, 126);
    transition: .2s;
}

.r-input-block input:focus+label,
.r-input-block input:not(:placeholder-shown)+label {
    top: -8px;
    font-size: 12px;
    height: 9px;
    background: rgb(24, 23, 23);
}

.r-button {
    margin-top: 6px;
    padding: 14px;

    border-radius: 10px;
    border: none;

    font-size: 15px;
    font-weight: 600;
    color: white;

    cursor: pointer;

    background: linear-gradient(135deg,
            #6aa8ff,
            #8b5cff);

    transition: 0.2s;
}

.r-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.r-button:active {
    transform: scale(.98);
}

.r-error {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;

    background: rgba(255, 70, 70, 0.12);
    border: 1px solid rgba(255, 70, 70, 0.4);

    color: #ff8080;
    font-size: 14px;
}


.r-spinner {
    width: 18px;
    height: 18px;

    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid white;

    display: inline-block;
    animation: spin 1s linear infinite;

}



@keyframes spin {
    100% { transform: rotate(360deg); }
}